body{ background: #4B4B4A}
h1{font-size: 30px; 	
color: #E6C5F8;}

h2{color: #F6A9F5; font-size: 20px }

.big {font-size: 60px}

.uppercase {text-transform: uppercase;}

.big.uppercase {color: green}

h1 span{
color: #8FE6F2}
